---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-10">
			<img class="rounded-full w-12 h-12" src="https://m.media-amazon.com/images/I/81vOF2Rr2tS.jpg" alt="Bitcoin">
			<h1 class="text-3xl font-bold">Hey, Soy Kaleb</h1>
			<p>Estudiante Universitario, afinidad por el Desarrollo Web. </p>
		</section>
	</main>
</Layout>
