<header class="flex justify-center my-5">

    <nav class="flex flex-row m-3 gap-x-4">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
        <a href="/contact">Contact</a>
    </nav>
</header>